<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Account Settings</h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>White sidebar</b></li>
                        <li><a #themeLink1 (click)="changeTheme( 'default', themeLink1 )" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #themeLink2 (click)="changeTheme( 'green', themeLink2 )" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #themeLink3 (click)="changeTheme( 'red', themeLink3 )" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #themeLink4 (click)="changeTheme( 'blue', themeLink4 )" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #themeLink5 (click)="changeTheme( 'purple', themeLink5 )" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #themeLink6 (click)="changeTheme( 'megna', themeLink6 )" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Dark sidebar</b></li>
                        <li><a #themeLink7 (click)="changeTheme( 'default-dark', themeLink7 )" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #themeLink8 (click)="changeTheme( 'green-dark', themeLink8 )" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #themeLink9 (click)="changeTheme( 'red-dark', themeLink9 )" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #themeLink10 (click)="changeTheme( 'blue-dark', themeLink10 )" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #themeLink11 (click)="changeTheme( 'purple-dark', themeLink11 )" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #themeLink12 (click)="changeTheme( 'megna-dark', themeLink12 )" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>